body {
    background-image: url("../img/bg0.jpg");

}

p {
    font-size: 16px;
}

a:hover {
    text-decoration: none!important;
}

.hrefstyle {
    font-size: 18px;
    color: greenyellow;
}
.hrefstyle:hover {
    color: lightsalmon;
    
    
}
#content {
    text-align: left;
    color: rgb(231, 231, 231);
    font-family: "Courier New", Courier, monospace;

    background-color: rgba(61, 61, 61, 0.7);
    border-radius: 10px;

    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width: 80vw;
    height: 80vh;
}

.animation_left1 {
    opacity: 0;
    animation-name: leftFadeIn1;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.animation_left2 {
    opacity: 0;
    animation-name: leftFadeIn2;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes leftFadeIn1 {
    0% {
      position: relative;
      left: 0vw;
      opacity: 0;
    }
  
    100% {
      position: relative;
      left: 2vw;
      opacity: 1;
    }

  }

  @keyframes leftFadeIn2 {
    0% {
      position: relative;
      left: 0vw;
      opacity: 0;
    }

    50% {
        position: relative;
        left: 0vw;
        opacity: 0;
    }
  
    100% {
      position: relative;
      left: 2vw;
      opacity: 1;
    }

  }