body {
    background-image: url("../img/bg3.jpg");
    height: 100%;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.sidebar {
    float: left;
    background-color: black;
    width: 15vw;
    min-width: 80px;
    /*min-width: 200px;*/
    position: absolute;
    top:59px; bottom: 0; left: 0;
    color: white;

}

#publicChat {
    background-color: rgba(49, 49, 49, 0.418);
    /*width: 83vw;*/
    position: absolute;
    top: 59px; right: 0;
    left: 15vw;
    bottom: 80px;
    overflow: scroll;
    
}
/*#chatHistory {
}*/

.message {
    background-color: white;
}

#comment {
    /*width: 77vw;*/
    /*height: 15vh;*/
    height: 80px;
}

.commentArea {
    position: absolute;
    left: 15vw;
    right: 120px;
    bottom: 5px;
}

#btnSend {
    background-image: url("../img/sendbtn.png");
    width: 120px ;
    height: 80px;
    border: none;
}

.sendBtnArea {
    position: absolute;
    right: 0;
    bottom: 0px;
}

.resize {
    background-color: teal;
    width: 80px;
    height: 20px;
    border: none;
}

.resize:hover {
    background-color: orange;
}

.btnmsg {
    color: white;
    position: relative;
    left: -11px;
    top: -10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.fill { 
    max-height: 100%;
    height: 100%;
}