body {
    background-image: url("../img/bg0.jpg");

}

p {
    font-size: 16px;
}

a:hover {
    text-decoration: none!important;
}

.hrefstyle {
    font-size: 18px;
    color: greenyellow;
}
.hrefstyle:hover {
    color: lightsalmon;
    
    
}
#content {
    text-align: center;
    color: rgb(231, 231, 231);
    font-family: Georgia, serif;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 30%;
    min-width: 200px;
    height: auto;

    position: fixed;
    right:-100%; left:-100%;
    margin: auto;
    opacity: 0;
    animation-name: topFadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes topFadeIn {
    0% {
      position: fixed;
      top: 0%;
      opacity: 0;
    }
  
    100% {
      position: fixed;
      top: 25%;
      opacity: 1;
    }

  }