body {
    background-image: url("../img/bg1.jpg");

}
div {
    color: white;

}

p {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: none!important;
}
.hrefstyle {
    color: greenyellow;
}
.hrefstyle:hover {
    color: lightsalmon;
    
}

#loginarea {
    position: fixed;
    margin: auto;
    top: 20%;
    right: -100%;
    left: -100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

#inputEmail {
    margin-top: 50px

}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#btnLogin {
    background-image: url("../img/signin.png");
    width: 300px ;
    height: 48px;
    border: none;
}

#btnGoogle {
    background-image: url("../img/googlelogin.png");
    width: 300px ;
    height: 48px;
    border: none;
}

#btnFB {
    background-image: url("../img/fblogin.png");
    width: 300px ;
    height: 48px;
    border: none;
}