body {
    background-image: url("../img/bg2.jpg");

}

p {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: bold;
}

a:hover {
    text-decoration: none!important;
}
.hrefstyle {
    color: blue;
}
.hrefstyle:hover {
    color: blueviolet;
    
}

#loginarea {
    position: fixed;
    margin: auto;
    top: 20%;
    right: -100%;
    left: -100%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

#inputEmail {
    margin-top: 50px

}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}